<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>{{ cf_bundle_identifier }}</string>
	<key>CFBundleExecutable</key>
	<string>{{ cf_bundle_executable }}</string>
	<key>CFBundleGetInfoString</key>
	<string>{{ cf_bundle_get_info_string }}</string>
	<key>CFBundleIconFile</key>
	<string>{{ cf_bundle_icon_file }}</string>
	<key>CFBundleName</key>
	<string>{{ cf_bundle_name }}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>{{ cf_bundle_version }}</string>
	<key>SUPublicEDKey</key>
	<string>{{ cf_sparkle_public_ed_key }}</string>
</dict>
</plist>
